<div class="app-container" [class.container-is-mobile]="mobileQuery.matches">
  <app-nav-tool-bar [appName]="appName"></app-nav-tool-bar>
  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav 
    class="app-sidenav"
      #appDrawer 
      [mode]="mobileQuery.matches ? 'over' : 'side'" 
      [fixedInViewport]="mobileQuery.matches" 
      fixedTopGap="56"
      [opened]="!mobileQuery.matches"
    >
      <mat-nav-list>
        <app-menu-item *ngFor="let item of navMenu" [item]="item"></app-menu-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>